# Logs
logs
*.log

# Generated mocks
*_mock.go

# Coverage
coverage.nomocks.out
coverage.out

.vscode/
.vs/

# Shared library
*.o
*.lib
*.dll
*.a
*.obj
/windows/libgoir.h
/shared_library/libgoir.h

/windows/test-results.json