# Logs
logs
*.log

# Generated mocks
*_mock.go

# Coverage
coverage.nomocks.out
coverage.out

.vscode/
.vs/

# Shared library
/shared_library/client
/shared_library/libgoir.a
/shared_library/libgoir.h
/windows/libgoir.lib
