# Logs
logs
*.log

# Generated mocks
*_mock.go

# Coverage
coverage.nomocks.out
coverage.out

.vscode/
.vs/

# Shared library
/shared_library/client
/shared_library/ir-standings.so
/shared_library/ir-standings.h
/shared_library/ir-standings.dll
/shared_library/ir-standings.lib
/windows/goir.dll
/windows/goir.h
/windows/goir.lib
