.container {
    margin-left:0;
    margin-right:0;
}

body .irc-standings {
    background-color: rgb(0,0,0,0.2)
}

#iracing-logo {
    width: auto;
    height: 50px;
}

#series-logo {
    width: auto;
    height: 50px;
}

.banner {
    min-height: 50px;
}

.irc-absent, .irc-absent .irc-car-number  {
    color: grey;
}

.irc-box {
    border-radius: 4px;
    width:2.8em;
    padding: 0 0.2em 0 0.2em;
    margin: 1px;
}

.irc-change-up {
    background-color: #30941f;
}

.irc-change-down {
    background-color: #a61c1c;
}

.irc-change-none {
    background-color: rgba(70, 64, 65, 0.562);
}

.irc-car-number {
    color: black;
}

.irc-car-number-84 {
    background-color: #fad352;
}

.irc-car-number-83 {
    background-color: #33cfff;
}

.irc-toggle-class {
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
}
