#iracing-logo {
    width: auto;
    height: 50px;
}

#series-logo {
    width: auto;
    height: 50px;
}

.banner {
    min-height: 50px;
}
.irc-box {
    border-radius: 4px;
    width:2.5em;
    padding: 0 0.2em 0 0.2em;
    margin: 1px;
}

.irc-change-up {
    background-color: rgba(51, 83, 21, 0.562);
}

.irc-change-down {
    background-color: rgba(151, 20, 37, 0.562);
}

.irc-change-none {
    background-color: rgba(70, 64, 65, 0.562);
}

.irc-car-number-84 {
    background-color: rgba(216, 226, 14, 0.562);
}

.irc-car-number-83 {
    background-color: rgba(14, 166, 226, 0.562);
}